.blue {
    background-color: #99b3ff; /*80%*/
    border-color: #002db3;
    color: #002db3; /*35%*/
}

.bluebuttongroup {
    background-color: #99b3ff;
    display: inline-block;
    margin-right: -0.25em;
}

.green {
    background-color: #adebad; /*80%*/
    border-color: #196619;
    color: #196619; /*25%*/
}

.greenbuttongroup {
    background-color: #adebad;
    display: inline-block;
    margin-right: -0.25em;
}

.red {
    background-color: #ff9999; /*80%*/
    border-color: #b30000;
    color: #b30000; /*35%*/
}

.redbuttongroup {
    background-color: #b30000;
    display: inline-block;
    margin-right: -0.25em;
}

.yellow {
    background-color: #ffff99; /*80%*/
    border-color: #808000;
    color: #808000; /*25%*/
}

.yellowbuttongroup {
    background-color: #ffff99;
    display: inline-block;
    margin-right: -0.25em;
}

.button-container {
    display:inline-block;
}

.gray {
    background-color: gray;
}

.black {
    background-color: black;
}

.button {
    width: 60px;
    max-width: 60px;
    height: 50px;
    margin: 2px;
    font-size: larger;
    border-radius: 8px;
}

.score {
    border: 2px;
    border-style: solid;
    border-radius: 8px;
    font-size: larger;
    text-align: center;
    max-width: 60px;
}

.ticked {
    color: black;
    font-size: larger;
}

.totalscore {
    color: white;
}

label {
    font-family: 'Comic Sans MS';
    font-size: larger;
    font-weight: bolder;
    color: gray;
}